plots/

# System Files
.DS_Store
.AppleDouble
.LSOverride

Icon

# Preview Images
._*

# Trash & Temporary Items
.Trash/
.DocumentRevisions-V100
.fseventsd/
.Spotlight-V100
.TemporaryItems/

.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

group_wise_acc.png
